body {
  margin: 0;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

table {
  width: 100%;
}

td, th {
  border: 1px solid #ddd;
  padding: 20px;
}

tr:nth-child(even) {
  background-color: #f96d6d;
}

tr:nth-child(odd) {
  background-color: #b84d69;
}

tr:hover {
  background-color: #a9d7f6;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #8fb1e9;
  color: black;
}

body {
  background-image: url(https://imageio.forbes.com/specials-images/dam/imageserve/1092571024/0x0.jpg?format=jpg&width=1200);
}

h1 {
  background-color: #8fb1e9;
  align-self: center;
  display: inline;
}

.submit {
  color:black;
  background-color: #a9d7f6;
}

.delete {
  color:white;
  background-color: red;
}

a:hover {
  color: #f96d6d;
}

a:active {
   color:black
}

th, tr, td {
  border: 2px solid black;
}